h1 {
    
    border: solid;
    border-width: 5px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 25vw;
    margin-top: 10vh;
}

body{
     background-image: url(spellbook.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
}
    
form{
    width: 160px;
    padding: 5px;
    margin: 10px;
    position: absolute;
    margin-left: 25vw;
    margin-top: 30vh;
}
#spellList{
    position: relative;
    margin-left: 60vw;
    margin-top: 10vh;
}
#typeList{
    font: bold;
    color: red;
    text-transform: capitalize;
    text-decoration: underline black;


}
