h1 {
    background-color:blue;
    border: solid;
    border-width: 10px;
    width: 150px;
    border-color: darkblue;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 50%;
}

h2{
    background-color: red;
    border: solid;
    border-width: 10px;
    width: 150px;
    border-color: firebrick;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 50%;
}
h3{
    background-color: lightgreen;
    border: solid;
    border-width: 10px;
    width: 150px;
    border-color: green;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 50%;
}
body{
    background-color:gray;
}
form{
    background-color: darkorange;
    border: solid;
    border-width: 10px;
    width: 160px;
    border-color:goldenrod;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 50%;
}
button{
    position: relative;
    margin-left: 50%;
}