h1 {
    
    border: solid;
    border-width: 5px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    position: relative;
    margin-left: 25vw;
    margin-top: 10vh;
}

body{
     background-image: url(spellbook.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
}
    
form{
    width: 160px;
    padding: 5px;
    margin: 10px;
    position: absolute;
    margin-left: 25vw;
    margin-top: 15vh;
}
.name{
    text-transform: capitalize;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
}
.spellType{
    font: bold;
    color: red;
    text-transform: capitalize;
    text-decoration: underline black;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
}
#spellList{
    margin-left: 60vw;
    margin-top: 10vh;
    justify-content: space-evenly;
    display: flex;
}
button.delete{
    background-color: black;
    color: red;
}
button.delete {
    background-color: black;
    color: white;
  }
  
  button.fav {
    background-color: yellow;
    color: black;
  }
  
  button.move {
    background-color: grey;
    color:black;
  }

  .spell.fav {
    background-color: lightgreen;  
  }

  .template {
    display: none;
  }
